#filters {
    margin: 10px 0 0;
    display: block;
    overflow: hidden
}

span {
    padding: 2px 5px;
    margin: 2px 2px;
    background: #222;
    color: #fff;
    border: 1px solid #222;
    border-radius: 3px;
    font-size: 16px;
    float: left;
    text-shadow: 0 0 4px #000;
}

#colors > span, #averageRadius > span {
    cursor: pointer;
}

.clear {
    clear: both;
}

body.threedee {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#controls {
    text-align: center;
    color: #CCC;
    margin: 5px;
}

#threedee {
    display: none;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

h1 {
    margin: 10px 0;
}

div.authors {
    margin-bottom: 15px;
    color: #666;
}

@font-face {
    font-family: norwester;
    src: url(norwester.woff);
    font-weight:400;
}

body {
    font-family: norwester, georgia, serif;
    font-size: 18px;
}

#canvasWrapper {
    position: relative;
    margin: 10px 0;
    cursor: crosshair;
}

#originalImage {
    z-index: 1;
    position: absolute;
    transition: opacity 1.5s;
    opacity: 0;
}

#originalImage.visible {
    opacity: 0.8;
}
